html {
    height: auto;
    min-height: 100%;
}

body {
    align-items: center;
    text-align: center;
    align-content: center;
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
}

h1 {
    font-size: 10vh;
    /*
    background-image: linear-gradient(to bottom, white, black);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    */
    color: black;
}

h2 {
    font-size: 7vh
}

p {
    font-size: 3vh;
}

a {
    font-size: 3vh;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover{
    color: blueviolet;
}

.card-group{
    justify-content: center;
    display: grid;
}

.card {
    width: 25%;
    margin: 5vh;
    color: white;
    border-radius: 5%;
    background: linear-gradient(to right, rgb(78, 78, 78), black);
    transition: 0.15s;
    grid-area: center;
    aspect-ratio: 5 / 7;
}

.card:hover {
    rotate: 12deg;
}

.card:nth-child(1){
    transform: translateX(-2vh);
}